*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    text-decoration: none;
    font-family:sans-serif;
}
.banner-container{
    width: 100%;
    max-width: 1600px;
    padding: 0 5rem;
    height: 100vh;
    background-image: url("../images/banner/banner1.png");
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    color: black;
}
.banner-details{
    width: 50%;
    text-align: right;
}

.title-banner{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 4rem;
    text-align: right;
}
.descripton{
 font-weight: 400;
 font-family: Work Sans, sans-serif;
 font-size: 1rem;
 line-height: 1.6rem;
 margin: 24px 0 32px 0;
}
.btn{
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 5px; 
}
.btn-contuct{
    background-color: #F15B22;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}
/* ====== previous section ======== */
#previous-year{
   margin-top: 6rem;
}
.flexible-conainer{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 100vh;
}
.flexible-box{    
    width: 45%;
    float: left;
    display: block;
    margin: 0 10px;
    padding-left: 5%;
}
.pYear-title{
   font-weight: 700;
   font-size: 2.4rem;
   line-height: 3rem;
}
.pYear-descripton{
   font-size: 1rem;
   font-weight: 400;
   line-height: 26px;
   padding: 1.4rem 0 1rem 0;

}
.flexible-box ul li{
    list-style-type: none;
    padding: .2rem 0;
}
.flexible-box ul li img{
    width: 20px;
}
.flexible-box img{
    width: 80%;
    border-radius: 10px;
}


/* ---------- mission section ---------- */
#mission-section{
    margin-top: 2rem;
    width: 100%;
    max-width: 1600px;
    padding: 0 3rem;
    height: 100vh;
}
#mission-section h1{
    color: #111111;
    text-align: center;
    font-size: 2.7rem;
    padding: .5rem;
    /* margin-bottom: 2rem; */
}
.single-box{
    height: 400px;
    width: 360px;
    border-radius: 7px;
    box-shadow: 0 0 10px 0 rgb(204, 241, 204);
    padding: 0;
}
.single-box img{
    width: 50%;
    padding-left: 0;
    margin-left: 5px;
   
}
.single-card-details{
    margin: 10px 10px 10px 15px;
    padding-left: 13px;
}
.single-card-details h3{
    color: darkblue;
    padding: 10px 0;
}
#mission{
    background-color: #9FE2BF;
}
#vission{
    background-color:  #CCCCFF ;
}
#goal{
    background-color: rgb(159, 210, 224);
}